<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserMapper">
	
	<!-- 查询用户 -->
	<select id="findAll" resultType="User">
		SELECT * FROM `user`
	</select>
	
	<!-- 添加用户 -->
	<insert id="add" parameterType="User">
		INSERT INTO `user`(`name`,gender,age,`level`,department,creation_time)
		VALUES(#{name},#{gender},#{age},#{level},#{department},now())
	</insert>
</mapper>